.idea
.vscode
node_modules
bower_components
.DS_Store
*.css.map
*.swp
*.js.map
*.log
server/*.js
public/gulpfile.js*
public/typings
public/coverage/
public/app/**/*.js
public/system-config.js
public/styles/cache
public/styles/.sass-cache
dist
coverage
public/styles/app.css
lcov.info