<!DOCTYPE html>
<html>
  <!--<h3>{{hero}} details!</h3>   -->
  <!--<button (click)="zoomClick()">Zoom</button>	
  <button (click)="hover()">Hover</button>	-->
  <h3>{{total}}</h3>
  <p>{{description}}</p>
  <p>{{loaded}}</p>
  <p>{{title}}</p>
  <p>{{appHub}}</p>

  <div id="chart"></div>

    <div id="mySidenav" class="sidenav">
      <a (click)="clicked()">Fast</a>
      <a (click)="clicked2()">Zoom</a>
      <a (click)="clicked3()">Scroll</a>
      <!--<a (click)="clicked4()">Alert 4</a>-->
  </div>
</html> 
